
.Board {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr;
    /* grid-template-columns: max(200px, 1fr) max(100px, 0.25fr) max(200px, 1fr); */

    /* grid-template-columns: 200px 100px 200px; */

    /* grid-template-rows: repeat(6, 0.5fr); */
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px 10px;
}