.tab-options-cnt {
    width: 100%;
    display: flex;
}
.tab-option {
    font-size: 2ch;
    text-align: center;
    flex: 1;
    padding: 10px;
    border: 2px solid var(--light-3);
    background-color: var(--dark-2);
    color: var(--light-4);
}

.tabs-container {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-4);
    border: 4px solid var(--light-3);
    height: 100%;
}
.tabs {
    display: flex;
    justify-content: space-around;
}

.tabs button {
    padding: 10px 20px;
    font-size: 2ch;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.tabs button.active {
    font-weight: bold;
    border-bottom: 2px solid blue;
}

.tab-content {
    height: 100%;
    padding:0px 20px 20px 0px;
    margin-top: -7px;
}

.text-editor-cnt {
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    width: 100%;
    align-items: center;
}

.assembled-output {
    height: 100%;
    padding: 20px;
    font-size: 2ch;
}