
.reg-container {
    color: var(--light-2);
}

.set {
    background-color: var(--light-4);
}
.reset {
    background-color: var(--dark-4);
}
.bits {
    width: 10px;
    height: 10px;
    border: 1px solid var(--dark-4);
    border-radius: 4px;

}
.bits-container {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content:space-around;
}