:root {
    /* --dark-1: #070F2B; */
    --dark-1: #0c0817;
    /* --dark-1: #18122B; */
    --dark-2: #393053;
    --dark-3: #443C68;
    --dark-4: #635985;

    --light-1: #67729D;
    --light-2: #BB9CC0;
    --light-3: #E7BCDE;
    --light-4: #FED9ED;
    --light-5: #FFE6E6;

    --night: rgb(18, 28, 28);
    --midnight-blue: rgb(16, 23, 32);

    --font-large: 1.8em;
    --font-medium2: 1.4em;
    --font-medium: 1em;
    --font-small: 0.9em;
}
body {
    background-color: var(--dark-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.App {
    zoom: 75%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    padding: 20px;
}
.main-pane {
    flex: 3;
    padding: 20px;
    /* background-color: lightgray; */
    box-sizing: border-box;
}
.side-pane {
    /* flex: 0 0 250px; */
    flex: 2;
    padding: 20px;
    /* background-color: lightblue; */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        margin-left: 10px;
        padding: 10px;
    }
    .side-pane {
        flex-basis: 100%;
        height: 800px;
    }
}